BOA.WeatherForcast/BOA.WeatherForcast.Web/wwwroot/
BOA.WeatherForcast/BOA.WeatherForcast.Web/obj/
BOA.WeatherForcast/BOA.WeatherForcast.Web/bower_components/
BOA.WeatherForcast/BOA.WeatherForcast.Web/bin/
BOA.WeatherForcast/.vs/
.vs/
BOA.WeatherForcast/BOA.WeatherForcast.Web/Data/city.list.json
BOA.WeatherForcast/BOA.WeatherForecast.Data/bin/
BOA.WeatherForcast/BOA.WeatherForecast.Data/obj/
BOA.WeatherForcast/BOA.WeatherForecast.Domain/bin/
BOA.WeatherForcast/BOA.WeatherForecast.Domain/obj/
BOA.WeatherForcast/BOA.Weatherforecast.Web.Tests/bin/
BOA.WeatherForcast/BOA.Weatherforecast.Web.Tests/obj/
BOA.WeatherForcast/BOA.WeaterForecast.Web.Xunit.Test/obj/
BOA.WeatherForcast/BOA.WeatherForecast.Web.Test/bin/
BOA.WeatherForcast/BOA.WeatherForecast.Web.Test/obj/BOA.WeatherForecast.Web.Test.csproj.nuget.cache
BOA.WeatherForcast/BOA.WeatherForecast.Web.Test/obj/
BOA.WeatherForcast/BOA.WeaterForecast.Web.Xunit.Test/
