@{
    ViewBag.Title = "Weeather forecast -Home";
    Layout = "_Layout";
}

@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
<h2>This is home page</h2>
<div>
    <a asp-controller="App" asp-action="contact">Contact</a>
</div>

