@{
    ViewBag.Title = "Weeather forecast -Home";
}

@model CityViewModel

@section scripts
    {
    <script src="~/ClientWeatherForecastApp/dist/inline.bundle.js"></script>
    <script src="~/ClientWeatherForecastApp/dist/polyfills.bundle.js"></script>
    <script src="~/ClientWeatherForecastApp/dist/styles.bundle.js"></script>
    <script src="~/ClientWeatherForecastApp/dist/vendor.bundle.js"></script>
    <script src="~/ClientWeatherForecastApp/dist/main.bundle.js"></script>
}
<h2>This is home page</h2>

<forecast-app></forecast-app>

<h2>app ends here</h2>


@*<form method="post" asp-controller="App" asp-action="Index" asp-antiforgery="true">
    <div class="from-group">
        <label asp-for="Id"></label>
        <select asp-for="Id" asp-items="Model.ListofCities">
            <option disabled selected value="">Select a City</option>
        </select>
    </div>

    <button type="submit">Get weather</button>

</form>
<div>
    <a asp-controller="App" asp-action="Index">Contact</a>
</div>*@

