<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Weather forecaster: @ViewBag.Title</title>
    
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
<div class="container">
    @RenderBody()
</div>

<script src="~/lib/jQuery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

@RenderSection("scripts", false)
</body>
</html>
