
<div class="col-xs-12" *ngIf="cityWeatherData">
    <div class="col-xs-12">
        <h2> Five day weather forecast for <strong>{{cityWeatherData.city.name}}</strong><br/><br/></h2>
    </div>
    <div class="col-sm-4" *ngFor="let currList of cityWeatherData.list">
        <p><strong>Weather forecast at {{millisecondsToDate(currList.dt)}}</strong></p>
        <p>Temperature: {{currList.main.temp}}</p>
        <p>Minimum temperature: {{currList.main.temp_min}}</p>
        <p>Maximum temperature: {{currList.main.temp_max}}</p>
        <p>Humidity: {{currList.main.humidity}}</p>
    </div>
</div>

