

    <form class="form-horizontal">
        <div class="form-group">
            <label for="city-list" class="col-sm-3">Please select city from the list <i class="fa fa-globe"></i></label>
            <div class="col-sm-3">
                <select [(ngModel)]="selectedCity" name="selectedCity" class="form-control" (change)="onSelect($event.target.value)">
                    <option *ngFor="let city of cities" [value]="city.id">{{city.nameOfCity}}</option>
                </select>
            </div>
        </div>
    </form>
