

    <form class="form-horizontal">
        <div class="form-group">
            <label for="city-list" class="col-sm-3">Please select city from the list <i class="fa fa-globe"></i></label>
            <div class="col-sm-3">
                <select class="form-control" id="city-list" name="city-list">
                    <option>London</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Show weather</button>
            </div>
        </div>
    </form>
